* {
    padding: 0;
    margin: 0;
}

:root {
    --color-button: #ffa500;
}

a {
    text-decoration: none;
    margin: 1.50rem;
    color: white;
    display: inline-block;
}

.top {
    background-color: #090909;
    text-align: center;
    font-size: large;
}

.start>img {
    object-fit: cover;
    /*define como o objeto vai se encaixar*/
    object-position: top;
    overflow: hidden;
    position: absolute;
    /* deixa o elento fora da posição padrão do navegador*/
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    /*colocar um valor negativo coloca o nosso objeto atrás */
}

.start {
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--color-background));
    position: relative;
    min-height: 100vh;
    font-size: 2rem;
    font-weight: 200;
}

.title__start {
    color: white;
    padding-top: 40vh;
    text-align: center;
}

.text__start {
    color: white;
    margin-top: 2rem;
    text-align: center;
}

.button {
    background-color: var(--color-button);
    margin-left: 100vh;
    margin-top: 1rem;
    padding: .50rem;
    border: 7px solid transparent;
    border-radius: 5px;
    justify-content: center;
    position: absolute;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px transparent #ddd;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #c9c5c53b;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h2 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #000000;
}

.card p {
    margin-top: 5px;
    font-size: 0.9em;
    color: #000000;
}

h2 {
    text-align: center;
    margin-top: 1rem;
    padding: 2.5rem;
    color: #000000;
}

.sob__img {
    object-fit: cover;
    position: relative;
    top: 0;
    height: 300px;
    width: 100%;
    z-index: -10;
}

.image-container {
    background-image: url("img/pexels-eneida-nieves-905847.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.sob__title {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
}

.sob__text {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}

.contact-title {
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: -3rem;
}

.contact-text {
    font-size: 1.2em;
    margin: 2em;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.contact-item {
    text-align: left;
}

.contact-item strong {
    display: block;
    margin-bottom: 0.5em;
}

.contact-item a {
    color: orange;
    text-decoration:underline ;
}

.cont__button {
    background-color: var(--color-button);
    margin: 1rem auto; /* Centers the button horizontally */
    padding: .50rem;
    border: 1px solid transparent; /* Specify border style */
    border-radius: 5px;
    display: block; /* Makes the button a block element */
    text-align: center; /* Centers text inside the button */
}

footer {
    background-color: #131313;
    color: var(--color-button);
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
}