* {
    box-sizing: border-box;
    font-family: "Oxygen", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-background: #030207;
    --color-white: #fff;
    --color-blue: #1474b4;
}

body {
    background-color: var(--color-background);
    color: var(--color-white);
}

a {
    color: var(--color-blue);
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--color-background));
    position: relative;
    min-height: 100vh;
}

.hero__background {
    object-fit: cover;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
}

.hero__foreground {
    color: var(--color-white);
    padding-top: 40vh;
    text-align: center;
}

.hero__title {
    font-size: clamp(3rem, 7vw, 5rem);
    font-weight: 300;
}

.hero__text {
    margin-top: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 2vw, 1.25rem); 
}

.section {
    overflow: hidden;
    padding: 0 1.5rem; 
    text-align: center;
}

.section__title {
    font-size: clamp(2.5rem, 5vw, 3rem);
    font-weight: 300;
    margin: 2rem auto; 
}

.section__img,
.section__img-inline {
    border-radius: .75rem;
    box-shadow: 0 1rem 2rem -0.5rem rgba(20, 116, 180, 0.25);
    object-fit: cover;
    object-position: top;
    position: relative;
    max-height: 30rem;
    width: 100%;
}

.section__text {
    font-size: 1.25rem;
    line-height: 1.75;
    margin: 4rem auto;
}

.section__img-inline {
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    height: 25rem;
    width: 20rem;
    max-width: 100%; 
}

.section__content-inline {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 2rem; 
    margin: 4rem auto; 
}

.section__text-inline {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75;
}

.section__text-inline > p {
    margin-top: 1.5rem;
}

#hangouts img {
    object-position: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; 
    margin: 4rem auto;
}

.gallery__img {
    border-radius: .75rem;
    height: 16rem;
    width: 16rem;
    object-fit: cover;
    transform: rotate(-2deg);
    max-width: 100%;
}

.gallery__img-wrapper {
    position: relative;
    flex: 0 1 16rem; 
    display: flex;
    justify-content: center;
}

.gallery__img-wrapper:nth-child(even) > .gallery__img {
    top: 1rem;
    transform: rotate(2deg);
}

.gallery__img-wrapper::after {
    content: "";
    background-color: rgb(228, 26, 26);
    border-radius: 999px;
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    top: 0.25rem;
    right: 1rem;
}

.gallery__img-wrapper:nth-child(even)::after {
    left: 1rem;
}

footer {
    margin-top: 4rem;
    padding: 2rem;
    text-align: center;
}



@media (min-width: 600px) {
    .hero__foreground {
        padding-top: 35vh;
    }

    .section {
        padding: 0 4rem; 
    }

    .section__title {
        margin: 3rem auto;
    }

    .hero__text {
        letter-spacing: 0.4rem;
    }
}

@media (min-width: 768px) {
    .section__content-inline {
        flex-direction: row; 
        justify-content: center;
        align-items: flex-start; 
        text-align: left;
        gap: 4rem; 
    }

    .section__img-inline {
        margin-right: 0; 
    }

    .section__text-inline {
        text-align: left; 
        margin-top: 0; 
    }
}

@media (min-width: 900px) {
    .section {
        padding: 0 8rem; 
    }

    .hero__foreground {
        padding-top: 40vh; 
    }

    .hero__text {
        letter-spacing: 0.5rem;
    }
}

@media (min-width: 1200px) {
    .section__content-inline {
        gap: 6rem;
    }
}