* {
    box-sizing: border-box; /*mede até a borda*/
    margin: 0;
    padding: 0;
  }
  
  :root {
    --color-primary: #ffa500;
    --color-dark: #232323;
    --color-light: #eaeaea;
    --color-white: #fff;
  }
  
  html {
    scroll-behavior: smooth; /*permite manipular como as tags ancoras navegam na página*/
  }
  
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  a {
    color: var(--color-primary);
  }
  
  header {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 1.5rem 0; /*preenchimento em volta*/
  }
  
  nav ul {
    list-style: none; /*tira a bola de pontuação da lista não ordenada*/
    text-align: center;
  }
  
  nav li {
    display: inline; /*deixa de lado*/
    margin: 0 1.5rem;
  }
  
  nav a {
    text-decoration: none; /*tira o sublinhado*/
    font-weight: 700; /*fonte em negreito*/
  }
  
  .hero {
    background-image: url("img/pexels-narda-yescas-1566837.jpg");
    background-size: cover; /* preenche a área*/
    color: var(--color-white);
    min-height: 75vh; /*altura mínima*/
    padding: 10rem 0; /*vertical e horizontak*/
    text-align: center;
  }
  
  .hero h1 {
    font-size: 4rem;
    font-weight: 100;
  }
  
  .hero p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  
  .cta-button {
    background-color: var(--color-primary);
    border-radius: .5rem; /*aredondamento da borda*/
    color: var(--color-dark);
    display: inline-block; /*calcula a altura*/
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1.5rem;
    padding: .75rem 1.5rem; 
    text-decoration: none;
  }
  
  section:not(#home) { /*:not() ele seleciona elemntos que não batem com a regra que esta dentro*/
    padding: 4rem;
    text-align: center;
  }
  
  h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  
  p {
    font-size: 1.25rem;
  }
  
  .menu-list {
    list-style: none; /*tira o estilo da lista*/ 
  }
  
  .menu-list > li {
    background-color: var(--color-light);
    border-radius: .5rem;
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5); /*cada valor serve para algo, o 1 para deslocamento horizontal da sombra, o 2 é o deslocamento vertical, o 3 é o quanto a sombra vai estar borrada, o 4 é o esplhamento interno da sombra*/
    display: inline-block; /*ajuda a manipular melhor a margem*/
    margin: 1.5rem;
    height: 28rem;
    width: 28rem;
    text-align: left;
  }
  
  .menu-list img {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    object-fit: cover; /*preenche de forma mais correta o espaço*/ 
    width: 100%;
  }
  
  .menu-list h3,
  .menu-list p {
    padding: 1rem 1.25rem 0;
  }
  
  #about {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
      ),
      url("img/pexels-eneida-nieves-905847.jpg");
    background-size: cover;
    background-position: center; /*centraliza a imagem a partir do centro*/
    color: var(--color-white);
  }
  
  address {
    margin: 2rem 0;
    font-style: italic;
  }
  
  address > * {
    display: inline-block;
    margin: 1.5rem;
    text-align: left;
  }
  
  footer {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 2rem;
    text-align: center;
  }