* {
   margin: 0;
   padding: 0; 
}

h1 {
    margin-top: 32px;
    margin-bottom: 32px;
}

li {
    background-color: #181717;
    border: solid 4px transparent;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    margin-top: 32px;
    margin-left: 32px;
    padding: 32px;
    height: 180px;
    width: 300px;
}

.selected{
    background-color: #403737;
    border: 4px solid #0088d8;
}

.hidden{
    display: none;
}