
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Título principal */
h1 {
    margin-bottom: 1rem;
}

/* Cabeçalho */
header {
    margin: 2rem;
    padding-bottom: 2rem;
    font-size: 32px;
    border-bottom: 1px solid #888;
}

/* Texto e seções */
section, p {
    font-size: 32px;
    margin: 10px;
    padding: 10px;
}

/* Botões */
button {
    background-color: black;
    color: white;
    border-radius: 40px;
    border: solid 4px transparent;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    height: 70px;
    width: 250px;
    font-size: 20px;
}

/* Seção do catálogo */
.corpo {
    margin-top: 2em;
    padding: 2px;
}

/* Estilo das categorias */
li {
    background-color: #1f97c6;
    color: #fff;
    border-radius: 40px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 200px;
    font-size: 16px;
    cursor: pointer;
}

/* Gênero com nome maior */
.ficcao {
    width: 300px;
}

/* Botão “ver mais” */
.mais {
    background-color: black;
}

/* Seção final */
.final {
    margin-top: 2em;
}

/* Rodapé */
footer {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 20px;
}
